### FBI UCR Data

Data downloaded from : [FBI Hate Crime](https://ucr.fbi.gov/hate-crime)

Raw Data Files Present in : raw_data/FBI-UCR

In [5]:
Table10_location = "raw_data/FBI-UCR/Table10/"

In [6]:
!ls -l raw_data/FBI-UCR/Table10/

total 688
-rw-r--r--@ 1 vijaykalmath  staff  33280 Dec 11 19:33 2010.xls
-rw-r--r--@ 1 vijaykalmath  staff  35328 Dec 11 19:33 2011.xls
-rw-r--r--@ 1 vijaykalmath  staff  31232 Dec 11 19:33 2012.xls
-rw-r--r--@ 1 vijaykalmath  staff  32256 Dec 11 19:33 2013.xls
-rw-r--r--@ 1 vijaykalmath  staff  32256 Dec 11 19:33 2014.xls
-rw-r--r--@ 1 vijaykalmath  staff  32256 Dec 11 19:33 2015.xls
-rw-r--r--@ 1 vijaykalmath  staff  32256 Dec 11 19:33 2016.xls
-rw-r--r--@ 1 vijaykalmath  staff  32768 Dec 11 19:33 2017.xls
-rw-r--r--@ 1 vijaykalmath  staff  32768 Dec 11 19:33 2018.xls
-rw-r--r--@ 1 vijaykalmath  staff  45568 Dec 11 19:32 2019.xls

In [7]:
import pandas as pd 
import numpy as np

In [20]:
def ParseExcel(Filename,skiprow_val = 3 ,skipfooter_val = 4):
    return pd.read_excel(Filename,skiprows=skiprow_val,skipfooter = skipfooter_val)

Table10_DF_2010 = ParseExcel(Table10_location + "2010.xls",3,2)
Table10_DF_2010["Year"] = 2010
Table10_DF_2010

# Next Year 2011 
Table10_DF_2011 = ParseExcel(Table10_location + "2011.xls",4,3)
Table10_DF_2011["Year"] = 2011 
Table10_DF_2011

# Next Year 2012
Table10_DF_2012 = ParseExcel(Table10_location + "2012.xls",5,3)
Table10_DF_2012["Year"] = 2012 
Table10_DF_2012

# Next Year 2013
Table10_DF_2013 = ParseExcel(Table10_location + "2013.xls",5,3)
Table10_DF_2013["Year"] = 2013 
Table10_DF_2013

# Next Year 2014
Table10_DF_2014 = ParseExcel(Table10_location + "2014.xls",5,3)
Table10_DF_2014["Year"] = 2014 
Table10_DF_2014

# Next Year 2015
Table10_DF_2015 = ParseExcel(Table10_location + "2015.xls",5,3)
Table10_DF_2015["Year"] = 2015 
Table10_DF_2015

# Next Year 2016
Table10_DF_2016 = ParseExcel(Table10_location + "2016.xls",5,3)
Table10_DF_2016["Year"] = 2016 
Table10_DF_2016

# Next Year 2017
Table10_DF_2017 = ParseExcel(Table10_location + "2017.xls",5,3)
Table10_DF_2017["Year"] = 2017
Table10_DF_2017

# Next Year 2018
Table10_DF_2018 = ParseExcel(Table10_location + "2018.xls",5,3)
Table10_DF_2018["Year"] = 2018
Table10_DF_2018

# Next Year 2019
Table10_DF_2019 = ParseExcel(Table10_location + "2019.xls",5,3)
Table10_DF_2019["Year"] = 2019
Table10_DF_2019

,Unnamed: 0,Unnamed: 1,Race/\nEthnicity/\nAncestry,Religion,Sexual\norientation,Disability,Gender,Gender\nIdentity,Unnamed: 8,Year
0,Total,7314,3963,1521,1195,157,69,198,211,2019
1,Abandoned/condemned structure,11,4,5,0,0,0,0,2,2019
2,Air/bus/train terminal,113,69,11,23,1,2,1,6,2019
3,Amusement park,5,2,0,3,0,0,0,0,2019
4,Arena/stadium/fairgrounds/coliseum,9,3,1,4,0,0,0,1,2019
5,Auto dealership new/used,6,3,2,0,0,0,1,0,2019
6,Bank/savings and loan,21,16,3,1,0,0,1,0,2019
7,Bar/nightclub,124,66,11,41,0,1,2,3,2019
8,Camp/campground,8,6,2,0,0,0,0,0,2019
9,Church/synagogue/temple/mosque,322,34,255,19,0,0,0,14,2019
10,Commercial office building,161,92,28,26,1,1,6,7,2019
11,Community center,21,8,2,9,0,0,2,0,2019
12,Construction site,23,14,6,1,1,0,0,1,2019
13,Convenience store,127,82,16,19,2,1,4,3,2019
14,Cyberspace,36,21,10,2,0,0,1,2,2019
15,Daycare facility,4,3,1,0,0,0,0,0,2019
16,Department/discount store,101,67,14,12,0,2,3,3,2019
17,Dock/wharf/freight/modal terminal,2,1,1,0,0,0,0,0,2019
18,Drug store/doctor's office/hospital,94,56,15,8,4,6,4,1,2019
19,Farm facility,3,2,0,0,0,0,1,0,2019
20,Field/woods,61,30,19,8,0,0,1,3,2019
21,Gambling facility/casino/race track,2,1,0,1,0,0,0,0,2019
22,Government/public building,132,86,24,15,2,1,3,1,2019
23,Grocery/supermarket,99,65,9,10,7,0,7,1,2019
24,Highway/road/alley/street/sidewalk,1329,814,142,268,23,6,50,26,2019
25,Hotel/motel/etc.,55,33,8,10,1,0,2,1,2019
26,Industrial site,18,13,2,3,0,0,0,0,2019
27,Jail/prison/penitentiary/corrections facility,90,64,1,18,1,2,3,1,2019
28,Lake/waterway/beach,16,9,1,6,0,0,0,0,2019
29,Liquor store,26,13,7,3,2,0,0,1,2019
30,Park/playground,196,98,50,26,1,0,3,18,2019
31,Parking/drop lot/garage,341,245,27,52,4,2,6,5,2019
32,Rental storage facility,14,10,3,0,0,1,0,0,2019
33,Residence/home,1800,1004,272,336,76,29,51,32,2019
34,Rest area,4,3,0,1,0,0,0,0,2019
35,Restaurant,214,138,15,45,3,0,5,8,2019
36,School/college2,50,28,11,9,1,0,1,0,2019
37,School—college/university,195,93,52,31,2,5,2,10,2019
38,School—elementary/secondary,458,232,115,47,12,2,9,41,2019
39,Service/gas station,76,53,9,7,3,0,2,2,2019
40,Shelter—mission/homeless,32,17,0,10,1,0,3,1,2019
41,Shopping mall,17,8,0,5,0,0,1,3,2019
42,"Specialty store (TV, fur, etc.)",63,36,15,6,1,0,3,2,2019
43,Tribal Lands,1,0,0,0,0,0,0,1,2019
44,Other/unknown,822,311,356,109,7,8,20,11,2019

In [22]:
Table_list = [
                Table10_DF_2010,
                Table10_DF_2011,
                Table10_DF_2012,
                Table10_DF_2013,
                Table10_DF_2014,
                Table10_DF_2015,
                Table10_DF_2016,
                Table10_DF_2017,
                Table10_DF_2018,
                Table10_DF_2019
            ]

In [38]:
for table in Table_list:
    table.rename(columns={'Unnamed: 0':"Location", 'Unnamed: 1':"Total incidents"},inplace=True)
    
    if 'Ethnicity/\nnational\norigin' in table.columns:
        table.rename(columns={'Ethnicity/\nnational\norigin':'Ethnicity'},inplace=True)
        
    if 'Race/\nEthnicity/\nAncestry'in table.columns:
        table.rename(columns={'Race/\nEthnicity/\nAncestry':'Ethnicity'},inplace=True)

    if 'Gender\nIdentity' in table.columns:
        table.rename(columns={'Gender\nIdentity':'Gender Identity'},inplace=True)

    print(table.columns)

Index(['Location', 'Total incidents', 'Race', 'Religion',
       'Sexual\norientation', 'Ethnicity', 'Disability', 'Unnamed: 7', 'Year'],
      dtype='object')
Index(['Location', 'Total incidents', 'Race', 'Religion',
       'Sexual\norientation', 'Ethnicity', 'Disability', 'Unnamed: 7', 'Year'],
      dtype='object')
Index(['Location', 'Total incidents', 'Race', 'Religion',
       'Sexual\norientation', 'Ethnicity', 'Disability', 'Unnamed: 7', 'Year'],
      dtype='object')
Index(['Location', 'Total incidents', 'Race', 'Religion',
       'Sexual\norientation', 'Ethnicity', 'Disability', 'Gender',
       'Gender Identity', 'Unnamed: 9', 'Year'],
      dtype='object')
Index(['Location', 'Total incidents', 'Race', 'Religion',
       'Sexual\norientation', 'Ethnicity', 'Disability', 'Gender',
       'Gender Identity', 'Unnamed: 9', 'Year'],
      dtype='object')
Index(['Location', 'Total incidents', 'Ethnicity', 'Religion',
       'Sexual\norientation', 'Disability', 'Gender', 'Gender Identity',
       'Unnamed: 8', 'Year'],
      dtype='object')
Index(['Location', 'Total incidents', 'Ethnicity', 'Religion',
       'Sexual\norientation', 'Disability', 'Gender', 'Gender Identity',
       'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Year'],
      dtype='object')
Index(['Location', 'Total incidents', 'Ethnicity', 'Religion',
       'Sexual\norientation', 'Disability', 'Gender', 'Gender Identity',
       'Unnamed: 8', 'Year'],
      dtype='object')
Index(['Location', 'Total incidents', 'Ethnicity', 'Religion',
       'Sexual\norientation', 'Disability', 'Gender', 'Gender Identity',
       'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Year'],
      dtype='object')
Index(['Location', 'Total incidents', 'Ethnicity', 'Religion',
       'Sexual\norientation', 'Disability', 'Gender', 'Gender Identity',
       'Unnamed: 8', 'Year'],
      dtype='object')

In [39]:
FBI_UCR_TABLE10_FINALIZED = pd.concat(Table_list)

In [40]:
FBI_UCR_TABLE10_FINALIZED

FBI_UCR_TABLE10_FINALIZED = FBI_UCR_TABLE10_FINALIZED.loc[:,~FBI_UCR_TABLE10_FINALIZED.columns.str.startswith('Unnamed')]

In [41]:
FBI_UCR_TABLE10_FINALIZED.columns

Index(['Location', 'Total incidents', 'Race', 'Religion',
       'Sexual\norientation', 'Ethnicity', 'Disability', 'Year', 'Gender',
       'Gender Identity'],
      dtype='object')

In [43]:
FBI_UCR_TABLE10_FINALIZED.rename(columns={'Sexual\norientation':'SexualOrientation',},inplace=True)

In [45]:
FBI_UCR_TABLE10_FINALIZED

,Location,Total incidents,Race,Religion,SexualOrientation,Ethnicity,Disability,Year,Gender,Gender Identity
0,Total,6628,3135.0,1322,1277,847,43,2010,NaN,NaN
1,Air/bus/train terminal,70,31.0,8,21,9,1,2010,NaN,NaN
2,Bank/savings and loan,12,7.0,1,2,2,0,2010,NaN,NaN
3,Bar/nightclub,144,54.0,7,62,20,0,2010,NaN,NaN
4,Camp/campground,1,0.0,0,0,1,0,2010,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
40,Shelter—mission/homeless,32,NaN,0,10,17,1,2019,0.0,3.0
41,Shopping mall,17,NaN,0,5,8,0,2019,0.0,1.0
42,"Specialty store (TV, fur, etc.)",63,NaN,15,6,36,1,2019,0.0,3.0
43,Tribal Lands,1,NaN,0,0,0,0,2019,0.0,0.0
44,Other/unknown,822,NaN,356,109,311,7,2019,8.0,20.0

In [46]:
FBI_UCR_TABLE10_FINALIZED.to_csv("processed_data/FBI-UCR/FBI_UCR_TABLE10.csv", index=False)