In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from tqdm import tqdm
import os
import glob

In [ ]:
### No of vitims each year
# 1. Bias by Race and Ethnicity
# 2. Bias by Religion
# 3. Bias by gender
### No of incidents each year
# 3. Bias by Race and Ethnicity
# 4. Bias by Religion
# 5. Bias by gender


# 6. Number of types of crimes each year year
# 7. Number of crimes by age group each year
# 8. Number of hatecrimes in each state, each year

# Number of offenses in each state each year

In [53]:
# Upload the data for 10 years
from google.colab import files
for i in range(10):
  input = files.upload()

Saving Table_11_Offenses_Offense_Type_by_Participating_State_2017.xls to Table_11_Offenses_Offense_Type_by_Participating_State_2017.xls

Saving Table_11_Offenses_Offense_Type_by_Participating_State_2016.xls to Table_11_Offenses_Offense_Type_by_Participating_State_2016.xls

Saving Table_11_Offenses_Offense_Type_by_Participating_State_2015.xls to Table_11_Offenses_Offense_Type_by_Participating_State_2015.xls

Saving Table_11_Offenses_Offense_Type_by_Participating_State_2014.xls to Table_11_Offenses_Offense_Type_by_Participating_State_2014.xls

Saving Table_11_Offenses_Offense_Type_by_Participating_State_2013.xls to Table_11_Offenses_Offense_Type_by_Participating_State_2013.xls

Saving Table_11_Offenses_Offense_Type_by_Participating_State_2012.xls to Table_11_Offenses_Offense_Type_by_Participating_State_2012.xls

Saving Table_11_Offenses_Offense_Type_by_Participating_State_2011.xls to Table_11_Offenses_Offense_Type_by_Participating_State_2011.xls

Saving Table 11-Offenses-Offense Type-by Participating State 2010.xls to Table 11-Offenses-Offense Type-by Participating State 2010.xls

Saving Table_11_Offenses_Offense_Type_by_Participating_State_and Federal_2019.xls to Table_11_Offenses_Offense_Type_by_Participating_State_and Federal_2019.xls

Saving Table_11_Offenses_Offense_Type_by_Participating_State_2018.xls to Table_11_Offenses_Offense_Type_by_Participating_State_2018.xls

In [199]:
def get_state_crime_count(path:str)->pd.DataFrame:
  """
  Function to return the number of hatecrimes commited in each state as a dataframe
  """
  # Extracting the table name from and year from the given file path
  t_name = " ".join(path[path.index("Table"):path.index("_Offenses")].split("_"))
  t_year = path[path.index(".xls")-4:path.index(".xls")]
  # Read the dataframe
  df_state_count = pd.read_excel(path,sheet_name=t_name)
  # Get the start and end indices of the interested datapoints
  start = df_state_count.index[df_state_count[t_name] == "Total"][0]
  end = df_state_count.index[df_state_count[t_name] == "Wyoming"][0]
  # Slice the dataset
  df_state_count = df_state_count.iloc[start+1:end+1,0:2]
  # Reset the index
  df_state_count.reset_index(drop=True, inplace=True)
  # Rename the columns
  df_state_count.rename(columns={t_name: "States", "Unnamed: 1": t_year}, inplace = True)
  # Return the result
  return df_state_count

In [202]:
# Fetch File Paths
file_paths = glob.glob('/content/*.xls')
# Sort them according to year
file_paths.sort(key = lambda x: int(x[-8:-4]))
print(file_paths)

['/content/Table_11_Offenses_Offense_Type_by_Participating_State_2010.xls', '/content/Table_11_Offenses_Offense_Type_by_Participating_State_2011.xls', '/content/Table_11_Offenses_Offense_Type_by_Participating_State_2012.xls', '/content/Table_11_Offenses_Offense_Type_by_Participating_State_2013.xls', '/content/Table_11_Offenses_Offense_Type_by_Participating_State_2014.xls', '/content/Table_11_Offenses_Offense_Type_by_Participating_State_2015.xls', '/content/Table_11_Offenses_Offense_Type_by_Participating_State_2016.xls', '/content/Table_11_Offenses_Offense_Type_by_Participating_State_2017.xls', '/content/Table_11_Offenses_Offense_Type_by_Participating_State_2018.xls', '/content/Table_11_Offenses_Offense_Type_by_Participating_State_2019.xls']

In [204]:
df_res = get_state_crime_count(file_paths[0])
for p in file_paths[2:]:
  df_temp = get_state_crime_count(p)
  df_res = pd.merge(df_res,df_temp,how="left",on=["States"])

In [205]:
df_res

                  States  2010  2012  2013 2014  2015  2016  2017  2018  2019
0                Alabama    24     6     6   10    12    17     9     0   NaN
1                 Alaska     9     6     9    7    19    13     4     8    17
2                Arizona   300   209   212  304   322   291   328   211   254
3               Arkansas    85    30    34   16     8    15     8    14    10
4             California  1331  1089  1012  943  1017  1142  1270  1222  1221
5               Colorado   196   233   154  129   143   126   136   176   257
6            Connecticut   168   176   172  144   107   124   122    92    86
7               Delaware    20    11    13   18    11    19    30    18    27
8   District of Columbia    66    81    80   87    74   127   207   236   247
9                Florida   146   166    82   72    83   110   166   166   131
10               Georgia    19    21    72   50    49    46   230    41   123
11                 Idaho    34    39    37   40    46    35    61    26    38
12              Illinois   116   101   123  136   101   122    94   139    95
13               Indiana   116    38    78   60    76   163    62   226    87
14                  Iowa    23     8    15   12     6    21    12    16    13
15                Kansas    73    97    74   86    81    70    83    87    99
16              Kentucky   205   230   209  199   218   241   432   288   179
17             Louisiana    17     4    23   11    45    33    30    59    33
18                 Maine    76    61    28   34    45    45    40    22    24
19              Maryland    82    45    58   18    43    40    53    52    18
20         Massachusetts   360   190   393  418   483   444   486   474   441
21              Michigan   372   718   399  354   373   459   515   495   495
22             Minnesota   140    83   167  117   132   165   169   159   123
23           Mississippi    11    19     4    1     0    10     4     5    15
24              Missouri   167   121   116  106   137   114   133    80   106
25               Montana    37    39    37   43    47    20    18     7    35
26              Nebraska    62    10    39   61    19    35    46    35    57
27                Nevada    76   113    80   29    70    49     7    37    53
28         New Hampshire    35    34    23   22    15    40    16    19    17
29            New Jersey   557   NaN   447  347   349   308   502   577   478
30            New Mexico    25     4    12   13    14    36    14    34    63
31              New York   710   741   655  558   515   598   559   525   618
32        North Carolina   132   140   140  186   208   208   230   202   248
33          North Dakota    13    52    63   51    54     8    17    10    20
34                  Ohio   295   296   447  474   470   508   449   390   428
35              Oklahoma    60    26    45   37    47    35    49    25    30
36                Oregon   161    64    75   38    79   122   169   139   205
37          Pennsylvania    69    42   110   58    71    67    93    75    50
38          Rhode Island    21    15     8    5    19    13    11    15    21
39        South Carolina   129   172    59   60    69    23    94   123    82
40          South Dakota    56    37    18   18    20    21    19    26    21
41             Tennessee   163   367   245  220   294   190   179   207   152
42                 Texas   202    60   161  165   219   224   219   500   560
43                  Utah    67   113    87   58    56    72    94    36    34
44               Vermont    22    14    13   15     8    26    36    48    37
45              Virginia   204   152   126  131   184   150   214   159   185
46            Washington   301   323   344  367   326   482   613   666   664
47         West Virginia    36    29    63   28    49    48    34    51    36
48             Wisconsin   108    91    65   62    47    42    48    59    83
49               Wyoming     2     2     1    0     2     4    23     0     6

In [206]:
# Save file to disk
df_res.to_csv("./state_hate_crime_count.csv")