In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os

In [114]:
folder = "Table_2/"
files = ["2011.xls","2012.xls","2013.xls","2014.xls","2015.xls","2016.xls","2017.xls","2018.xls","2019.xls"]

In [122]:
filepath=[]
for filename  in files:
    filepath.append(os.path.join(folder, filename))
print(filepath)

['Table_2/2011.xls', 'Table_2/2012.xls', 'Table_2/2013.xls', 'Table_2/2014.xls', 'Table_2/2015.xls', 'Table_2/2016.xls', 'Table_2/2017.xls', 'Table_2/2018.xls', 'Table_2/2019.xls']

In [116]:
for filename  in files:
    filepath = os.path.join(folder, filename)
    df2 = pd.read_excel(filepath)
    x = df2.columns[0]
    df2 = df2.rename(columns={x:'Crime'}) 
    print(filepath)
    print(df2['Crime'][3:20])
    #print(df1['Crime'][2:19])

Table_2/2011.xls
3                                    Total
4                  Crimes against persons:
5     Murder and nonnegligent manslaughter
6                            Forcible rape
7                       Aggravated assault
8                           Simple assault
9                             Intimidation
10                                  Other4
11                Crimes against property:
12                                 Robbery
13                                Burglary
14                           Larceny-theft
15                     Motor vehicle theft
16                                   Arson
17            Destruction/damage/vandalism
18                                  Other4
19                 Crimes against society4
Name: Crime, dtype: object
Table_2/2012.xls
3                                    Total
4                  Crimes against persons:
5     Murder and nonnegligent manslaughter
6                            Forcible rape
7                       Aggravated assault
8                           Simple assault
9                             Intimidation
10                                  Other4
11                Crimes against property:
12                                 Robbery
13                                Burglary
14                           Larceny-theft
15                     Motor vehicle theft
16                                   Arson
17            Destruction/damage/vandalism
18                                  Other4
19                 Crimes against society4
Name: Crime, dtype: object
Table_2/2013.xls
3                                    Total
4                  Crimes against persons:
5     Murder and nonnegligent manslaughter
6               Rape (revised definition)4
7                Rape (legacy definition)5
8                       Aggravated assault
9                           Simple assault
10                            Intimidation
11                                  Other6
12                Crimes against property:
13                                 Robbery
14                                Burglary
15                           Larceny-theft
16                     Motor vehicle theft
17                                   Arson
18            Destruction/damage/vandalism
19                                  Other6
Name: Crime, dtype: object
Table_2/2014.xls
3                                    Total
4                  Crimes against persons:
5     Murder and nonnegligent manslaughter
6               Rape (revised definition)4
7                Rape (legacy definition)5
8                       Aggravated assault
9                           Simple assault
10                            Intimidation
11                                  Other6
12                Crimes against property:
13                                 Robbery
14                                Burglary
15                           Larceny-theft
16                     Motor vehicle theft
17                                   Arson
18            Destruction/damage/vandalism
19                                  Other6
Name: Crime, dtype: object
Table_2/2015.xls
3                                    Total
4                  Crimes against persons:
5     Murder and nonnegligent manslaughter
6               Rape (revised definition)4
7                Rape (legacy definition)5
8                       Aggravated assault
9                           Simple assault
10                            Intimidation
11                                  Other6
12                Crimes against property:
13                                 Robbery
14                                Burglary
15                           Larceny-theft
16                     Motor vehicle theft
17                                   Arson
18            Destruction/damage/vandalism
19                                  Other6
Name: Crime, dtype: object
Table_2/2016.xls
3                                    Total
4                  Crimes against persons:
5     Murder and nonnegligent manslaughter
6               Rape (revised definition)4
7                Rape (legacy definition)5
8                       Aggravated assault
9                           Simple assault
10                            Intimidation
11                                  Other6
12                Crimes against property:
13                                 Robbery
14                                Burglary
15                           Larceny-theft
16                     Motor vehicle theft
17                                   Arson
18            Destruction/damage/vandalism
19                                  Other6
Name: Crime, dtype: object
Table_2/2017.xls
3                                      Total
4                    Crimes against persons:
5       Murder and nonnegligent manslaughter
6                                      Rape4
7                         Aggravated assault
8                             Simple assault
9                               Intimidation
10    Human Trafficking, Commercial Sex Acts
11                                    Other5
12                  Crimes against property:
13                                   Robbery
14                                  Burglary
15                             Larceny-theft
16                       Motor vehicle theft
17                                     Arson
18              Destruction/damage/vandalism
19                                    Other5
Name: Crime, dtype: object
Table_2/2018.xls
3                                    Total
4                  Crimes against persons:
5     Murder and nonnegligent manslaughter
6                                    Rape4
7                       Aggravated assault
8                           Simple assault
9                             Intimidation
10                                  Other5
11                Crimes against property:
12                                 Robbery
13                                Burglary
14                           Larceny-theft
15                     Motor vehicle theft
16                                   Arson
17            Destruction/damage/vandalism
18                                  Other5
19                 Crimes against society5
Name: Crime, dtype: object
Table_2/2019.xls
3                                      Total
4                    Crimes against persons:
5       Murder and nonnegligent manslaughter
6                                      Rape4
7                         Aggravated assault
8                             Simple assault
9                               Intimidation
10    Human trafficking, commercial sex acts
11                                    Other5
12                  Crimes against property:
13                                   Robbery
14                                  Burglary
15                             Larceny-theft
16                       Motor vehicle theft
17                                     Arson
18              Destruction/damage/vandalism
19                                    Other5
Name: Crime, dtype: object

In [101]:
for filename  in files:
    filepath = os.path.join(folder, filename)
    df2 = pd.read_excel(filepath)
    x = df2.columns[0]
    df2 = df2.rename(columns={x:'Crime'})  
    print(df1['Crime'][19]) == df2['Crime'][20])

3                                    Total
4                  Crimes against persons:
5     Murder and nonnegligent manslaughter
6                            Forcible rape
7                       Aggravated assault
8                           Simple assault
9                             Intimidation
10                                  Other4
11                Crimes against property:
12                                 Robbery
13                                Burglary
14                           Larceny-theft
15                     Motor vehicle theft
16                                   Arson
17            Destruction/damage/vandalism
18                                  Other4
19                 Crimes against society4
Name: Crime, dtype: object
3                                    Total
4                  Crimes against persons:
5     Murder and nonnegligent manslaughter
6                            Forcible rape
7                       Aggravated assault
8                           Simple assault
9                             Intimidation
10                                  Other4
11                Crimes against property:
12                                 Robbery
13                                Burglary
14                           Larceny-theft
15                     Motor vehicle theft
16                                   Arson
17            Destruction/damage/vandalism
18                                  Other4
19                 Crimes against society4
Name: Crime, dtype: object
3                                    Total
4                  Crimes against persons:
5     Murder and nonnegligent manslaughter
6               Rape (revised definition)4
7                Rape (legacy definition)5
8                       Aggravated assault
9                           Simple assault
10                            Intimidation
11                                  Other6
12                Crimes against property:
13                                 Robbery
14                                Burglary
15                           Larceny-theft
16                     Motor vehicle theft
17                                   Arson
18            Destruction/damage/vandalism
19                                  Other6
Name: Crime, dtype: object
3                                    Total
4                  Crimes against persons:
5     Murder and nonnegligent manslaughter
6               Rape (revised definition)4
7                Rape (legacy definition)5
8                       Aggravated assault
9                           Simple assault
10                            Intimidation
11                                  Other6
12                Crimes against property:
13                                 Robbery
14                                Burglary
15                           Larceny-theft
16                     Motor vehicle theft
17                                   Arson
18            Destruction/damage/vandalism
19                                  Other6
Name: Crime, dtype: object
3                                    Total
4                  Crimes against persons:
5     Murder and nonnegligent manslaughter
6               Rape (revised definition)4
7                Rape (legacy definition)5
8                       Aggravated assault
9                           Simple assault
10                            Intimidation
11                                  Other6
12                Crimes against property:
13                                 Robbery
14                                Burglary
15                           Larceny-theft
16                     Motor vehicle theft
17                                   Arson
18            Destruction/damage/vandalism
19                                  Other6
Name: Crime, dtype: object
3                                    Total
4                  Crimes against persons:
5     Murder and nonnegligent manslaughter
6               Rape (revised definition)4
7                Rape (legacy definition)5
8                       Aggravated assault
9                           Simple assault
10                            Intimidation
11                                  Other6
12                Crimes against property:
13                                 Robbery
14                                Burglary
15                           Larceny-theft
16                     Motor vehicle theft
17                                   Arson
18            Destruction/damage/vandalism
19                                  Other6
Name: Crime, dtype: object
3                                      Total
4                    Crimes against persons:
5       Murder and nonnegligent manslaughter
6                                      Rape4
7                         Aggravated assault
8                             Simple assault
9                               Intimidation
10    Human Trafficking, Commercial Sex Acts
11                                    Other5
12                  Crimes against property:
13                                   Robbery
14                                  Burglary
15                             Larceny-theft
16                       Motor vehicle theft
17                                     Arson
18              Destruction/damage/vandalism
19                                    Other5
Name: Crime, dtype: object
3                                    Total
4                  Crimes against persons:
5     Murder and nonnegligent manslaughter
6                                    Rape4
7                       Aggravated assault
8                           Simple assault
9                             Intimidation
10                                  Other5
11                Crimes against property:
12                                 Robbery
13                                Burglary
14                           Larceny-theft
15                     Motor vehicle theft
16                                   Arson
17            Destruction/damage/vandalism
18                                  Other5
19                 Crimes against society5
Name: Crime, dtype: object
3                                      Total
4                    Crimes against persons:
5       Murder and nonnegligent manslaughter
6                                      Rape4
7                         Aggravated assault
8                             Simple assault
9                               Intimidation
10    Human trafficking, commercial sex acts
11                                    Other5
12                  Crimes against property:
13                                   Robbery
14                                  Burglary
15                             Larceny-theft
16                       Motor vehicle theft
17                                     Arson
18              Destruction/damage/vandalism
19                                    Other5
Name: Crime, dtype: object

In [142]:
df = pd.DataFrame()

In [143]:
df1 = pd.read_excel("Table_2/2010.xls")
#df1.iloc[2:19,0:2]
df1 = df1.rename(columns={'Table 2 ':'Crime','Unnamed: 1':'2010'})  
df['Crime'] = df1['Crime'][2:19]
df['2010'] = df1['2010'][2:19]
df = df.reset_index(drop=True)
df

                                   Crime  2010
0                                  Total  6628
1                Crimes against persons:  3978
2   Murder and nonnegligent manslaughter     6
3                          Forcible rape     4
4                     Aggravated assault   695
5                         Simple assault  1472
6                           Intimidation  1790
7                                 Other4    11
8               Crimes against property:  2861
9                                Robbery   146
10                              Burglary   125
11                         Larceny-theft   175
12                   Motor vehicle theft    16
13                                 Arson    43
14          Destruction/damage/vandalism  2321
15                                Other4    35
16               Crimes against society4    14

In [148]:
df_t = pd.read_excel(filepath[0])
x = df_t.columns[0]
df_t = df_t.rename(columns={x:'Crime'}) 
df['2011'] = df_t[df_t.columns[1]][3:20].reset_index(drop=True)

df_t = pd.read_excel(filepath[1])
x = df_t.columns[0]
df_t = df_t.rename(columns={x:'Crime'}) 
df['2012'] = df_t[df_t.columns[1]][3:20].reset_index(drop=True)

In [159]:
df= df.drop([7])

In [168]:
df=df.reset_index(drop=True)
df

                                   Crime  2010  2011  2012
0                                  Total  6628  6222  5796
1                Crimes against persons:  3978  3754  3258
2   Murder and nonnegligent manslaughter     6     4     5
3                          Forcible rape     4     7    15
4                     Aggravated assault   695   677   644
5                         Simple assault  1472  1336  1336
6                           Intimidation  1790  1720  1230
7               Crimes against property:  2861  2611  2547
8                                Robbery   146   131   126
9                               Burglary   125   124   142
10                         Larceny-theft   175   152   258
11                   Motor vehicle theft    16     6    23
12                                 Arson    43    42    38
13          Destruction/damage/vandalism  2321  2125  1906
14                                Other4    35    31    54
15               Crimes against society4    14    20   203

In [174]:
df_t = pd.read_excel(filepath[2])
x = df_t.columns[0]
df_t = df_t.rename(columns={x:'Crime'}) 
df_t.iloc[start_row] = df_t.iloc[6:8].sum()
df_t = df_t.drop([7,11])
df['2013'] = df_t[df_t.columns[1]][3:19].reset_index(drop=True)

                                   Crime  2010  2011  2012  2013
0                                  Total  6628  6222  5796  5928
1                Crimes against persons:  3978  3754  3258  3607
2   Murder and nonnegligent manslaughter     6     4     5     5
3                          Forcible rape     4     7    15    21
4                     Aggravated assault   695   677   644   588
5                         Simple assault  1472  1336  1336  1441
6                           Intimidation  1790  1720  1230  1528
7               Crimes against property:  2861  2611  2547  2424
8                                Robbery   146   131   126   126
9                               Burglary   125   124   142   174
10                         Larceny-theft   175   152   258   225
11                   Motor vehicle theft    16     6    23    20
12                                 Arson    43    42    38    36
13          Destruction/damage/vandalism  2321  2125  1906  1783
14                                Other4    35    31    54    60
15               Crimes against society4    14    20   203    79

In [177]:
df_t = pd.read_excel(filepath[3])
x = df_t.columns[0]
df_t = df_t.rename(columns={x:'Crime'}) 
df_t.iloc[start_row] = df_t.iloc[6:8].sum()
df_t = df_t.drop([7,11])
df['2014'] = df_t[df_t.columns[1]][3:19].reset_index(drop=True)

df_t = pd.read_excel(filepath[4])
x = df_t.columns[0]
df_t = df_t.rename(columns={x:'Crime'}) 
df_t.iloc[start_row] = df_t.iloc[6:8].sum()
df_t = df_t.drop([7,11])
df['2015'] = df_t[df_t.columns[1]][3:19].reset_index(drop=True)

df_t = pd.read_excel(filepath[5])
x = df_t.columns[0]
df_t = df_t.rename(columns={x:'Crime'}) 
df_t.iloc[start_row] = df_t.iloc[6:8].sum()
df_t = df_t.drop([7,11])
df['2016'] = df_t[df_t.columns[1]][3:19].reset_index(drop=True)

In [187]:
df_t = pd.read_excel(filepath[6])
x = df_t.columns[0]
df_t = df_t.rename(columns={x:'Crime'}) 
df_t = df_t.drop([10,11])
df['2017'] = df_t[df_t.columns[1]][3:19].reset_index(drop=True)
df

,Crime,2010,2011,2012,2013,2014,2015,2016,2017
0,Total,6628,6222,5796,5928,5479,5850,6121,7175
1,Crimes against persons:,3978,3754,3258,3607,3303,3646,3765,4090
2,Murder and nonnegligent manslaughter,6,4,5,5,4,8,5,12
3,Forcible rape,4,7,15,21,9,13,24,23
4,Aggravated assault,695,677,644,588,599,681,684,788
5,Simple assault,1472,1336,1336,1441,1307,1436,1458,1433
6,Intimidation,1790,1720,1230,1528,1378,1495,1577,1807
7,Crimes against property:,2861,2611,2547,2424,2317,2338,2519,3115
8,Robbery,146,131,126,126,122,120,134,157
9,Burglary,125,124,142,174,162,147,123,145
10,Larceny-theft,175,152,258,225,239,255,231,326
11,Motor vehicle theft,16,6,23,20,22,22,20,41
12,Arson,43,42,38,36,26,30,39,42
13,Destruction/damage/vandalism,2321,2125,1906,1783,1694,1698,1913,2325
14,Other4,35,31,54,60,52,66,59,79
15,Crimes against society4,14,20,203,79,53,65,82,238

In [189]:
df_t = pd.read_excel(filepath[7])
x = df_t.columns[0]
df_t = df_t.rename(columns={x:'Crime'}) 
df_t = df_t.drop([10])
df['2018'] = df_t[df_t.columns[1]][3:19].reset_index(drop=True)

df_t = pd.read_excel(filepath[8])
x = df_t.columns[0]
df_t = df_t.rename(columns={x:'Crime'}) 
df_t = df_t.drop([10])
df['2019'] = df_t[df_t.columns[1]][3:19].reset_index(drop=True)

In [198]:
df.iloc[15,0] = 'Crimes against society'

In [201]:
df.iloc[14,0] = 'Other'

In [203]:
df.iloc[2,0] = 'Murder'

In [205]:
df.iloc[13,0] = 'Vandalism'

In [206]:
df.to_csv('Incidents_T2.csv', encoding='utf-8', index=False)

In [123]:
df2 = pd.read_excel("Table_2/2016.xls")

In [130]:
x = df2.columns[0]
df2 = df2.rename(columns={x:'Crime'})  
df2[df2.columns[0]][3:20]

3                                    Total
4                  Crimes against persons:
5     Murder and nonnegligent manslaughter
6               Rape (revised definition)4
7                Rape (legacy definition)5
8                       Aggravated assault
9                           Simple assault
10                            Intimidation
11                                  Other6
12                Crimes against property:
13                                 Robbery
14                                Burglary
15                           Larceny-theft
16                     Motor vehicle theft
17                                   Arson
18            Destruction/damage/vandalism
19                                  Other6
Name: Crime, dtype: object

In [58]:
df2.iloc[3:20,:]

,Table 2,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,2019
3,Total,6121,7321,7615,5770,NaN,NaN,7314
4,Crimes against persons:,3765,4720,4720,4353,NaN,NaN,4526
5,Murder and nonnegligent manslaughter,5,9,9,9,NaN,NaN,18
6,Rape (revised definition)4,24,24,24,29,NaN,NaN,30
7,Rape (legacy definition)5,0,0,0,0,NaN,NaN,866
8,Aggravated assault,684,873,873,1031,NaN,NaN,1730
9,Simple assault,1458,1687,1687,1857,NaN,NaN,1849
10,Intimidation,1577,2109,2109,1409,NaN,,2
11,Other6,17,18,18,18,NaN,NaN,31
12,Crimes against property:,2519,2519,2813,1618,NaN,NaN,2811
13,Robbery,134,134,163,249,NaN,NaN,125
14,Burglary,123,123,138,87,NaN,NaN,114
15,Larceny-theft,231,231,253,173,NaN,NaN,284
16,Motor vehicle theft,20,20,21,14,NaN,NaN,19
17,Arson,39,39,51,33,NaN,NaN,60
18,Destruction/damage/vandalism,1913,1913,2122,1015,NaN,NaN,2152
19,Other6,59,59,65,47,NaN,NaN,57