In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os

In [2]:
folder = "Table_2/"
files = ["2011.xls","2012.xls","2013.xls","2014.xls","2015.xls","2016.xls","2017.xls","2018.xls","2019.xls"]

In [10]:
filepath=[]
for filename  in files:
    filepath.append(os.path.join(folder, filename))
print(filepath)

['Table_2/2011.xls', 'Table_2/2012.xls', 'Table_2/2013.xls', 'Table_2/2014.xls', 'Table_2/2015.xls', 'Table_2/2016.xls', 'Table_2/2017.xls', 'Table_2/2018.xls', 'Table_2/2019.xls']

In [4]:
for filename  in files:
    filepath = os.path.join(folder, filename)
    df2 = pd.read_excel(filepath)
    x = df2.columns[0]
    df2 = df2.rename(columns={x:'Crime'}) 
    print(filepath)
    print(df2['Crime'][3:20])
    #print(df1['Crime'][2:19])

Table_2/2011.xls
3                                    Total
4                  Crimes against persons:
5     Murder and nonnegligent manslaughter
6                            Forcible rape
7                       Aggravated assault
8                           Simple assault
9                             Intimidation
10                                  Other4
11                Crimes against property:
12                                 Robbery
13                                Burglary
14                           Larceny-theft
15                     Motor vehicle theft
16                                   Arson
17            Destruction/damage/vandalism
18                                  Other4
19                 Crimes against society4
Name: Crime, dtype: object
Table_2/2012.xls
3                                    Total
4                  Crimes against persons:
5     Murder and nonnegligent manslaughter
6                            Forcible rape
7                       Aggravated assault
8                           Simple assault
9                             Intimidation
10                                  Other4
11                Crimes against property:
12                                 Robbery
13                                Burglary
14                           Larceny-theft
15                     Motor vehicle theft
16                                   Arson
17            Destruction/damage/vandalism
18                                  Other4
19                 Crimes against society4
Name: Crime, dtype: object
Table_2/2013.xls
3                                    Total
4                  Crimes against persons:
5     Murder and nonnegligent manslaughter
6               Rape (revised definition)4
7                Rape (legacy definition)5
8                       Aggravated assault
9                           Simple assault
10                            Intimidation
11                                  Other6
12                Crimes against property:
13                                 Robbery
14                                Burglary
15                           Larceny-theft
16                     Motor vehicle theft
17                                   Arson
18            Destruction/damage/vandalism
19                                  Other6
Name: Crime, dtype: object
Table_2/2014.xls
3                                    Total
4                  Crimes against persons:
5     Murder and nonnegligent manslaughter
6               Rape (revised definition)4
7                Rape (legacy definition)5
8                       Aggravated assault
9                           Simple assault
10                            Intimidation
11                                  Other6
12                Crimes against property:
13                                 Robbery
14                                Burglary
15                           Larceny-theft
16                     Motor vehicle theft
17                                   Arson
18            Destruction/damage/vandalism
19                                  Other6
Name: Crime, dtype: object
Table_2/2015.xls
3                                    Total
4                  Crimes against persons:
5     Murder and nonnegligent manslaughter
6               Rape (revised definition)4
7                Rape (legacy definition)5
8                       Aggravated assault
9                           Simple assault
10                            Intimidation
11                                  Other6
12                Crimes against property:
13                                 Robbery
14                                Burglary
15                           Larceny-theft
16                     Motor vehicle theft
17                                   Arson
18            Destruction/damage/vandalism
19                                  Other6
Name: Crime, dtype: object
Table_2/2016.xls
3                                    Total
4                  Crimes against persons:
5     Murder and nonnegligent manslaughter
6               Rape (revised definition)4
7                Rape (legacy definition)5
8                       Aggravated assault
9                           Simple assault
10                            Intimidation
11                                  Other6
12                Crimes against property:
13                                 Robbery
14                                Burglary
15                           Larceny-theft
16                     Motor vehicle theft
17                                   Arson
18            Destruction/damage/vandalism
19                                  Other6
Name: Crime, dtype: object
Table_2/2017.xls
3                                      Total
4                    Crimes against persons:
5       Murder and nonnegligent manslaughter
6                                      Rape4
7                         Aggravated assault
8                             Simple assault
9                               Intimidation
10    Human Trafficking, Commercial Sex Acts
11                                    Other5
12                  Crimes against property:
13                                   Robbery
14                                  Burglary
15                             Larceny-theft
16                       Motor vehicle theft
17                                     Arson
18              Destruction/damage/vandalism
19                                    Other5
Name: Crime, dtype: object
Table_2/2018.xls
3                                    Total
4                  Crimes against persons:
5     Murder and nonnegligent manslaughter
6                                    Rape4
7                       Aggravated assault
8                           Simple assault
9                             Intimidation
10                                  Other5
11                Crimes against property:
12                                 Robbery
13                                Burglary
14                           Larceny-theft
15                     Motor vehicle theft
16                                   Arson
17            Destruction/damage/vandalism
18                                  Other5
19                 Crimes against society5
Name: Crime, dtype: object
Table_2/2019.xls
3                                      Total
4                    Crimes against persons:
5       Murder and nonnegligent manslaughter
6                                      Rape4
7                         Aggravated assault
8                             Simple assault
9                               Intimidation
10    Human trafficking, commercial sex acts
11                                    Other5
12                  Crimes against property:
13                                   Robbery
14                                  Burglary
15                             Larceny-theft
16                       Motor vehicle theft
17                                     Arson
18              Destruction/damage/vandalism
19                                    Other5
Name: Crime, dtype: object

In [101]:
for filename  in files:
    filepath = os.path.join(folder, filename)
    df2 = pd.read_excel(filepath)
    x = df2.columns[0]
    df2 = df2.rename(columns={x:'Crime'})  
    print(df1['Crime'][19]) == df2['Crime'][20])

3                                    Total
4                  Crimes against persons:
5     Murder and nonnegligent manslaughter
6                            Forcible rape
7                       Aggravated assault
8                           Simple assault
9                             Intimidation
10                                  Other4
11                Crimes against property:
12                                 Robbery
13                                Burglary
14                           Larceny-theft
15                     Motor vehicle theft
16                                   Arson
17            Destruction/damage/vandalism
18                                  Other4
19                 Crimes against society4
Name: Crime, dtype: object
3                                    Total
4                  Crimes against persons:
5     Murder and nonnegligent manslaughter
6                            Forcible rape
7                       Aggravated assault
8                           Simple assault
9                             Intimidation
10                                  Other4
11                Crimes against property:
12                                 Robbery
13                                Burglary
14                           Larceny-theft
15                     Motor vehicle theft
16                                   Arson
17            Destruction/damage/vandalism
18                                  Other4
19                 Crimes against society4
Name: Crime, dtype: object
3                                    Total
4                  Crimes against persons:
5     Murder and nonnegligent manslaughter
6               Rape (revised definition)4
7                Rape (legacy definition)5
8                       Aggravated assault
9                           Simple assault
10                            Intimidation
11                                  Other6
12                Crimes against property:
13                                 Robbery
14                                Burglary
15                           Larceny-theft
16                     Motor vehicle theft
17                                   Arson
18            Destruction/damage/vandalism
19                                  Other6
Name: Crime, dtype: object
3                                    Total
4                  Crimes against persons:
5     Murder and nonnegligent manslaughter
6               Rape (revised definition)4
7                Rape (legacy definition)5
8                       Aggravated assault
9                           Simple assault
10                            Intimidation
11                                  Other6
12                Crimes against property:
13                                 Robbery
14                                Burglary
15                           Larceny-theft
16                     Motor vehicle theft
17                                   Arson
18            Destruction/damage/vandalism
19                                  Other6
Name: Crime, dtype: object
3                                    Total
4                  Crimes against persons:
5     Murder and nonnegligent manslaughter
6               Rape (revised definition)4
7                Rape (legacy definition)5
8                       Aggravated assault
9                           Simple assault
10                            Intimidation
11                                  Other6
12                Crimes against property:
13                                 Robbery
14                                Burglary
15                           Larceny-theft
16                     Motor vehicle theft
17                                   Arson
18            Destruction/damage/vandalism
19                                  Other6
Name: Crime, dtype: object
3                                    Total
4                  Crimes against persons:
5     Murder and nonnegligent manslaughter
6               Rape (revised definition)4
7                Rape (legacy definition)5
8                       Aggravated assault
9                           Simple assault
10                            Intimidation
11                                  Other6
12                Crimes against property:
13                                 Robbery
14                                Burglary
15                           Larceny-theft
16                     Motor vehicle theft
17                                   Arson
18            Destruction/damage/vandalism
19                                  Other6
Name: Crime, dtype: object
3                                      Total
4                    Crimes against persons:
5       Murder and nonnegligent manslaughter
6                                      Rape4
7                         Aggravated assault
8                             Simple assault
9                               Intimidation
10    Human Trafficking, Commercial Sex Acts
11                                    Other5
12                  Crimes against property:
13                                   Robbery
14                                  Burglary
15                             Larceny-theft
16                       Motor vehicle theft
17                                     Arson
18              Destruction/damage/vandalism
19                                    Other5
Name: Crime, dtype: object
3                                    Total
4                  Crimes against persons:
5     Murder and nonnegligent manslaughter
6                                    Rape4
7                       Aggravated assault
8                           Simple assault
9                             Intimidation
10                                  Other5
11                Crimes against property:
12                                 Robbery
13                                Burglary
14                           Larceny-theft
15                     Motor vehicle theft
16                                   Arson
17            Destruction/damage/vandalism
18                                  Other5
19                 Crimes against society5
Name: Crime, dtype: object
3                                      Total
4                    Crimes against persons:
5       Murder and nonnegligent manslaughter
6                                      Rape4
7                         Aggravated assault
8                             Simple assault
9                               Intimidation
10    Human trafficking, commercial sex acts
11                                    Other5
12                  Crimes against property:
13                                   Robbery
14                                  Burglary
15                             Larceny-theft
16                       Motor vehicle theft
17                                     Arson
18              Destruction/damage/vandalism
19                                    Other5
Name: Crime, dtype: object

In [5]:
df = pd.DataFrame()

In [8]:
df1 = pd.read_excel("Table_2/2010.xls")
#df1.iloc[2:19,0:2]
df1 = df1.rename(columns={'Table 2 ':'Crime','Unnamed: 3':'2010'})  
df['Crime'] = df1['Crime'][2:19]
df['2010'] = df1['2010'][2:19]
df = df.reset_index(drop=True)
df

                                   Crime  2010
0                                  Total  8208
1                Crimes against persons:  4824
2   Murder and nonnegligent manslaughter     7
3                          Forcible rape     4
4                     Aggravated assault   888
5                         Simple assault  1681
6                           Intimidation  2231
7                                 Other4    13
8               Crimes against property:  3370
9                                Robbery   168
10                              Burglary   163
11                         Larceny-theft   195
12                   Motor vehicle theft    16
13                                 Arson    45
14          Destruction/damage/vandalism  2747
15                                Other4    36
16               Crimes against society4    14

In [11]:
df_t = pd.read_excel(filepath[0])
x = df_t.columns[0]
df_t = df_t.rename(columns={x:'Crime'}) 
df['2011'] = df_t[df_t.columns[3]][3:20].reset_index(drop=True)

df_t = pd.read_excel(filepath[1])
x = df_t.columns[0]
df_t = df_t.rename(columns={x:'Crime'}) 
df['2012'] = df_t[df_t.columns[3]][3:20].reset_index(drop=True)

In [12]:
df= df.drop([7])

In [13]:
df=df.reset_index(drop=True)
df

                                   Crime  2010  2011  2012
0                                  Total  8208  7713  7164
1                Crimes against persons:  4824  4623  3968
2   Murder and nonnegligent manslaughter     7     4    10
3                          Forcible rape     4     7    15
4                     Aggravated assault   888   895   854
5                         Simple assault  1681  1595  1570
6                           Intimidation  2231  2106  1489
7               Crimes against property:  3370  3070  2993
8                                Robbery   168   157   149
9                               Burglary   163   147   174
10                         Larceny-theft   195   165   281
11                   Motor vehicle theft    16     6    24
12                                 Arson    45    52    46
13          Destruction/damage/vandalism  2747  2510  2263
14                                Other4    36    33    56
15               Crimes against society4    14    20   203

In [15]:
df_t = pd.read_excel(filepath[2])
x = df_t.columns[0]
df_t = df_t.rename(columns={x:'Crime'}) 
df_t.iloc[6] = df_t.iloc[6:8].sum()
df_t = df_t.drop([7,11])
df['2013'] = df_t[df_t.columns[3]][3:19].reset_index(drop=True)

In [16]:
df_t = pd.read_excel(filepath[3])
x = df_t.columns[0]
df_t = df_t.rename(columns={x:'Crime'}) 
df_t.iloc[6] = df_t.iloc[6:8].sum()
df_t = df_t.drop([7,11])
df['2014'] = df_t[df_t.columns[3]][3:19].reset_index(drop=True)

df_t = pd.read_excel(filepath[4])
x = df_t.columns[0]
df_t = df_t.rename(columns={x:'Crime'}) 
df_t.iloc[6] = df_t.iloc[6:8].sum()
df_t = df_t.drop([7,11])
df['2015'] = df_t[df_t.columns[3]][3:19].reset_index(drop=True)

df_t = pd.read_excel(filepath[5])
x = df_t.columns[0]
df_t = df_t.rename(columns={x:'Crime'}) 
df_t.iloc[6] = df_t.iloc[6:8].sum()
df_t = df_t.drop([7,11])
df['2016'] = df_t[df_t.columns[3]][3:19].reset_index(drop=True)

In [17]:
df_t = pd.read_excel(filepath[6])
x = df_t.columns[0]
df_t = df_t.rename(columns={x:'Crime'}) 
df_t = df_t.drop([10,11])
df['2017'] = df_t[df_t.columns[3]][3:19].reset_index(drop=True)
df

,Crime,2010,2011,2012,2013,2014,2015,2016,2017
0,Total,8208,7713,7164,7242,6727,7173,7615,8828
1,Crimes against persons:,4824,4623,3968,4430,4048,4482,4720,5084
2,Murder and nonnegligent manslaughter,7,4,10,5,4,18,9,15
3,Forcible rape,4,7,15,21,9,13,24,23
4,Aggravated assault,888,895,854,734,770,882,873,990
5,Simple assault,1681,1595,1570,1720,1514,1696,1687,1745
6,Intimidation,2231,2106,1489,1925,1745,1853,2109,2283
7,Crimes against property:,3370,3070,2993,2733,2624,2626,2813,3506
8,Robbery,168,157,149,145,138,148,163,171
9,Burglary,163,147,174,202,208,173,138,185
10,Larceny-theft,195,165,281,246,256,274,253,379
11,Motor vehicle theft,16,6,24,21,22,24,21,44
12,Arson,45,52,46,40,39,36,51,59
13,Destruction/damage/vandalism,2747,2510,2263,2011,1907,1897,2122,2585
14,Other4,36,33,56,68,54,74,65,83
15,Crimes against society4,14,20,203,79,55,65,82,238

In [18]:
df_t = pd.read_excel(filepath[7])
x = df_t.columns[0]
df_t = df_t.rename(columns={x:'Crime'}) 
df_t = df_t.drop([10])
df['2018'] = df_t[df_t.columns[3]][3:19].reset_index(drop=True)

df_t = pd.read_excel(filepath[8])
x = df_t.columns[0]
df_t = df_t.rename(columns={x:'Crime'}) 
df_t = df_t.drop([10])
df['2019'] = df_t[df_t.columns[3]][3:19].reset_index(drop=True)

In [20]:
df.iloc[15,0] = 'Crimes against society'
df.iloc[14,0] = 'Other'
df.iloc[2,0] = 'Murder'
df.iloc[13,0] = 'Vandalism'

In [21]:
df

,Crime,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Total,8208,7713,7164,7242,6727,7173,7615,8828,8819,8812
1,Crimes against persons:,4824,4623,3968,4430,4048,4482,4720,5084,5566,5512
2,Murder,7,4,10,5,4,18,9,15,24,51
3,Forcible rape,4,7,15,21,9,13,24,23,22,30
4,Aggravated assault,888,895,854,734,770,882,873,990,1026,1158
5,Simple assault,1681,1595,1570,1720,1514,1696,1687,1745,1895,2023
6,Intimidation,2231,2106,1489,1925,1745,1853,2109,2283,2560,2206
7,Crimes against property:,3370,3070,2993,2733,2624,2626,2813,3506,2964,41
8,Robbery,168,157,149,145,138,148,163,171,169,3064
9,Burglary,163,147,174,202,208,173,138,185,166,149
10,Larceny-theft,195,165,281,246,256,274,253,379,357,129
11,Motor vehicle theft,16,6,24,21,22,24,21,44,43,297
12,Arson,45,52,46,40,39,36,51,59,53,19
13,Vandalism,2747,2510,2263,2011,1907,1897,2122,2585,2080,78
14,Other,36,33,56,68,54,74,65,83,96,2316
15,Crimes against society,14,20,203,79,55,65,82,238,289,76

In [22]:
df.to_csv('Victims_T2.csv', encoding='utf-8', index=False)

In [123]:
df2 = pd.read_excel("Table_2/2016.xls")

In [130]:
x = df2.columns[0]
df2 = df2.rename(columns={x:'Crime'})  
df2[df2.columns[0]][3:20]

3                                    Total
4                  Crimes against persons:
5     Murder and nonnegligent manslaughter
6               Rape (revised definition)4
7                Rape (legacy definition)5
8                       Aggravated assault
9                           Simple assault
10                            Intimidation
11                                  Other6
12                Crimes against property:
13                                 Robbery
14                                Burglary
15                           Larceny-theft
16                     Motor vehicle theft
17                                   Arson
18            Destruction/damage/vandalism
19                                  Other6
Name: Crime, dtype: object

In [58]:
df2.iloc[3:20,:]

,Table 2,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,2019
3,Total,6121,7321,7615,5770,NaN,NaN,7314
4,Crimes against persons:,3765,4720,4720,4353,NaN,NaN,4526
5,Murder and nonnegligent manslaughter,5,9,9,9,NaN,NaN,18
6,Rape (revised definition)4,24,24,24,29,NaN,NaN,30
7,Rape (legacy definition)5,0,0,0,0,NaN,NaN,866
8,Aggravated assault,684,873,873,1031,NaN,NaN,1730
9,Simple assault,1458,1687,1687,1857,NaN,NaN,1849
10,Intimidation,1577,2109,2109,1409,NaN,,2
11,Other6,17,18,18,18,NaN,NaN,31
12,Crimes against property:,2519,2519,2813,1618,NaN,NaN,2811
13,Robbery,134,134,163,249,NaN,NaN,125
14,Burglary,123,123,138,87,NaN,NaN,114
15,Larceny-theft,231,231,253,173,NaN,NaN,284
16,Motor vehicle theft,20,20,21,14,NaN,NaN,19
17,Arson,39,39,51,33,NaN,NaN,60
18,Destruction/damage/vandalism,1913,1913,2122,1015,NaN,NaN,2152
19,Other6,59,59,65,47,NaN,NaN,57